/backend/dist
/backend/node_modules
/frontend/node_modules
/frontend/dist
.idea

# Use yarn.lock instead
frontend/package-lock.json
backend/package-lock.json

# Logs
frontend/logs
backend/logs
frontend/*.log
backend/*.log
